.banner {
  width: 100%;
  height: 400px;
  margin-bottom: 5rem;

  display: flex;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.post {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  > span {
    font-size: 0.875rem;
    color: var(--gray-300);
    font-style: italic;
    display: block;
    margin-top: 1rem;
  }
}

.postInfo {
  display: flex;

  span {
    font-size: 0.875rem;
    text-transform: capitalize;
    color: var(--gray-300);

    display: flex;
    align-items: center;

    svg {
      margin-right: 0.5rem;
    }

    & + span {
      margin-left: 1.5rem;
    }
  }
}

.postContent {
  margin-top: 4rem;

  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--gray-100);
    margin-bottom: 3rem;
  }
}

.postSection {
  font-size: 1.125rem;
  color: var(--gray-200);
  text-align: justify;
  margin-bottom: 4rem;

  p {
    line-height: 1.5rem;
  }

  p + p {
    margin-top: 1.5rem;
  }

  a {
    color: var(--pink-300);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin: 1rem 2rem;

    li + li {
      margin-top: 1rem;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  position: relative;

  padding-top: 3rem;
  margin-bottom: 5rem;

  &::before {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--gray-200);
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  > div {
    display: flex;
    flex-direction: column;

    p {
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
      color: var(--gray-100);
    }

    a {
      font-size: 1rem;
      font-weight: 600;
      color: var(--pink-300);
    }

    & + div {
      align-items: flex-end;
    }
  }
}
